<div class="center jumbotron">
    <h1>Welcome to the hapi-strapper Generated Project</h1>

    <h2>Home page for the project</h2>

    <a class="btn btn-lg btn-primary" href="/signup">Sign up</a>
</div>